.navigation {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.pagination span{
    font-size: 20px;
}

.input-field {
  display: block;
}
